<template name="adminPage">
	<ul style="list-style-type:disc">
	  <li><a class="btn btn-default" href="{{pathFor 'submitPost'}}">Ban User</a></li>
	  <li><a class="btn btn-default" href="{{pathFor 'newCategory'}}">Create New Category</a></li>
	  <li><a class="btn btn-default" href="{{pathFor 'submitPost'}}">Edit Branding</a></li>
	</ul>

</template>

<!--

A page is needed for general administration. It should include support for:
	-Banning Users
	-Creating new categories
	-Change site name/branding
	-Resetting user passwords

-->