<template name="adminPage">

	<ul id="admin-list">
        <li><a>Manage Users &#9662;</a>
        	<ul class="dropdown">
                <li><a href="{{pathFor 'banUser'}}">Ban User</a></li>
                <li><a href="#">Reset Password</a></li>
            </ul>
        </li>

        <li><a> Manage Categories &#9662;</a>
        	<ul class="dropdown">
                <li><a href="{{pathFor 'newCategory'}}">New Category</a></li>             
            </ul>
        </li>
        
        <li><a>Manage Site Branding &#9662;</a>
            <ul class="dropdown">
                <li><a id="change-title-link" href="#">Change Title</a></li>
                <li><a href="#">Change Logo</a></li>
            </ul>
        </li>
    </ul>

</template>