
#admin-list{
    padding: 0;
    list-style: none;
}

#admin-list li{
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: bold;

    color:black;/*#3854A8;*/ 
    font-family:Trebuchet MS;
}

#admin-list li a{
    display: block;
    padding: 10px 30px;

    color: inherit;
    font-family: Trebuchet MS;
    text-align: center;
}
#admin-list li a:hover{
    background: #f2f2f2;
}

#admin-list li ul.dropdown{
    width: 100%;
    display: none;
    position: absolute;
}

#admin-list li:hover ul.dropdown{
    display: block;
}

#admin-list ul.dropdown li a{
    padding: 5px 1px;
    color: #4169E1;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}
