<template name="banUser">
    <form>
        <div class="container">
            <div class="row">
            	<div class="col-md-10">
            		<div class="col-md-2">
                    	<label for="username">Enter Username: </label>
                	</div>
                	<div class="col-md-7">
	                    <input type="text" ng-model="nameValue" name="username" value="" class="required form-control" placeholder="enter username...">
    				</div>
    				<div class="col-md-3">       
    	            	<button name="banUserButton" id="ban-user-button" type="button" class="btn btn-warning">Ban User</button>
        	        </div>
            	</div>
        	</div>

        	<div>
                Current Users: [role(s)]
                <ul>
                    {{#each users}} 
                    <li>
                        {{username}} [{{roles}}]                        
                    </li>
                    {{/each}}
                </ul>
            </div>    
        </div>
    </form>

</template>
