<template name="submitPage">
<div class="row" style="float: center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <label for="title">Title:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="title" name="title" value="" class="form-control required" placeholder="Title">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <label for="title">Category:</label>
                </div>
                <div class="col-md-9">
                 <input class="form-control typeahead" name="cate" type="text"
         placeholder="Search for categories"
         autocomplete="off" spellcheck="off"
         data-source="categories"/>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Summary:
                        </div>
                        <div class="panel-body">
                            <textarea class="required" rows = "6" cols= "70" name="summary"></textarea>
                            <br/>
                            Preview:
                            {{#markdown}}{{{preview_data}}}{{/markdown}}
                        </div>
                        <input type="checkbox" name="is-official-abstract"/>Mark as Official Abstract
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="title">DOI Link:</label>
                </div>
                <div class="col-md-9">
                    <div class="col-md-8">
                        <input type="text" name="doi" value="" class="form-control required" placeholder="Enter DOI here...">
                    </div>
                    <div class="col-md-1">
                        {{#if doi_validation_check "checking"}}
                            <span class="glyphicon glyphicon-time"></span>
                        {{/if}}
                        {{#if doi_validation_check "valid"}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{/if}}
                        {{#if doi_validation_check "invalid"}}
                            <span class="glyphicon glyphicon-remove"></span>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="row"><p>&nbsp;</p></div>

            <div class="row">
                    <div class="col-md-3">
                    <label>Terms Used:</label>
                </div>
                <div class="col-md-9">
                    {{> search}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                            <!-- {{#each submitPostTerms 'used'}}
                            {{> termUsed}}
                        {{/each}}    -->
                    </ul>
                </div>
            </div>
            <div class="row">
            
                <div class="col-md-4">
                    <label>Terms Defined:</label>
                </div>
                <div class="col-md-4">
                    <button>Add New Definition</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Terms</button>
                    <div class="modal fade" id="myModal" role="dialog">
                     <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                     <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Add Terms</h4>
                     </div>
                        <div class="modal-body">
                            {{> addTerm}}
                        </div>
                      <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div>
      
                    </div>
                    </div>
  
                    </div>
                   
                      </div>
                    
            <div class="row">
                <div class="col-md-12">
                    <ul>
                            <!-- {{#each submitPostTerms 'defined'}}
                            {{> termDefined}}
                        {{/each}} -->
                    </ul>
                </div>
            </div>

            <div class="row"><p>&nbsp;</p></div>

            <div class="row">
                <div class="col-md-3">
                    <label for="author">Author: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" name='author' value='' class="form-control required" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="publish_date">Publisher: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="publisher" value="" class="form-control required" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="publish_date">Date Published: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="publish_date" value="" class="form-control required" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="row"><p>&nbsp;</p></div>

            <div>
                <input type='button' value='Submit' class='submitButton btn btn-primary' disabled="{{#if loggedIn}}{{else}}true{{/if}}"/>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
</template>

<!-- Autocomplete typeahead. Might want to use meteor-jquery-rateit atmosphere package instead. -->
<template name="search">
    <input class="form-control typeahead" name="search" type="text"
         placeholder="Search for terms"
         autocomplete="off" spellcheck="off"
         data-source="terms"/>
</template>
<template name ="addTerm">
<!--add new Term -->
                        
                     <form>
        <div class="container">
            <div class="row">
            <div class="col-md-3">
                    <label for="title">Dictionary</label>
                </div>
                <div class="col-md-9">
                   
                  <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton" aria-expanded="true" value="">
                            {{selectedDictionary}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labeledby="dropdownMenu2">
                           {{#each dictionaries}}
                                <li role="presentation"><a role="menuitem" tabindex="1" href="#" name="dictionaryName">{{name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>               
        
                </div>
            </div>
             <div class="row">
                <div class="col-md-2">
                    <label for="name">Entry Name: </label>
                </div>
                <div class="col-md-5">
                    <input type="text" id="title" name="term_name" value="" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="row"><p></p></div>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Definition:
                        </div>
                        <div class="panel-body">
                            <textarea name="definition" value=""></textarea>>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"><p></p></div>
            <div class="row">
                <div class="col-md-12">
                    <p>Required Information: *</p>
                </div>
            </div>
            {{#each getLabels}}
            <div class="row">
                <div class="col-md-3">
                    {{#mathjax}}
                    <label for="complexityID">{{label}}</label>
                    {{/mathjax}}
                </div>
                <div class="col-md-9">
                    <input type="text" label_id="{{_id}}" name="labelValue" id="complexityID" value="">
                </div>
            </div>
            {{/each}}
            <div>
                <button type="button" name="addButton" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <!--end of new term-->

</template>
