<template name="summaryTemplate">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-1" id="voteArrows">
                <div class="row">
                    <button type="button" id="upvote-summary-button" class="btn btn-default {{#if up_pressed}}pressed btn-info{{/if}}" style="text-align: center">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </button>
                </div>
                <div class="row">
                    <span>{{influence}}</span>
                </div>
                <div class="row">
                    <button type="button" id="downvote-summary-button" class="btn btn-default {{#if down_pressed}}pressed btn-danger{{/if}}">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                </div>
            </div>
            <div class="well well-lg" style="{{#if is_official_abstract}}background: #aaf{{/if}}">
                <div>
                    {{#if user_can_delete}}
                    <button id="delete-summary" type="button" class="btn btn-sm btn-danger" style="float: right">Delete<span class="glyphicon glyphicon-remove"></span></button>
                    {{/if}}
                    {{#if user_can_modify}}
                    {{#if edit_mode}}
                    <button id="save-summary" class="btn btn-success" type="button">
                        Save<span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    {{else}}
                    <button id="edit-summary" class="btn btn-warning" type="button">
                        Edit<span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    {{/if}}
                    {{/if}}
                </div>
                {{#if edit_mode}}
                <textarea id="summary-text">{{text}}</textarea>
                {{else}}
                {{#mathjax}}
                    <span>
                        {{#markdown}}{{{markdownedText}}}{{/markdown}}
                    </span>
                {{/mathjax}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
